<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">Edit Your Profile</h1>
        <p class="text-center">Update your personal info...</p>
        <div class="well text-center">
           <%= render 'form' %>
        </div>
    </div>
</div>