<div class="row">
  <div class="container text-center">
    <h1>ASM - IMPEX</h1>
    <p><b>Online Store and catalog directory with complete electronic sets and imported textiles.</b></p>
    <p>Nullam porta sapien eu mi efficitur vehicula. <%= link_to "Home", root_path %> 
      <a href="#">
        <span class="glyphicon glyphicon-heart"></span>
      </a></br>
      Nullam a lectus vitae risus sodales pulvinar tempor at risus. <%= link_to "Home", root_path %>
      <a href="#">
        <span class="glyphicon glyphicon-home"></span>
      </a></br>
      Cras eget nisl id odio egestas elementum vitae sit amet orci. <%= link_to "Home", root_path %>
      <a href="#">
        <span class="glyphicon glyphicon-headphones"></span>
      </a></br>
      Cras mattis augue a justo bibendum, in eleifend lectus efficitur. <%= link_to "Home", root_path %> 
      <a href="#">
        <span class="glyphicon glyphicon-tags"></span>
      </a></p>
  </div>
</div></br>

<div class="row">
  <div class="container text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQN906ZAJ0TFLU85RAjmiwDjq5ONwmsQdJ6_CCTGkinpG_N6le9ww" alt="Apparel">
        <p><strong>Clothing</strong></p>
        <p>Fashion</p>
        <a class="btn" href="/">Search</a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="http://www.pakthat.co.uk/images-detail/android_tablet_box_withwhite_tablet.jpg" alt="Electronics">
        <p><strong>Electronics</strong></p>
        <p>New</p>
        <a class="btn" href="/">Search</a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTfQqI4-Yjzvu0uBTdcYR32cRvkkm7U9kh55IoGIxDZMQwazvem" alt="Promo">
        <p><strong>Discounts</strong></p>
        <p>Bundle and Save</p>
        <a class="btn" href="/">Search</a>
      </div>
    </div>
  </div>
</div>