<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="http://image.shutterstock.com/z/stock-photo-blur-jewelry-store-front-window-275406731.jpg" width="1200" height="400" alt="Image">
        <div class="carousel-caption">
          <h1>Sell $</h1>
          <p><h3>Money Money.</h3></p>
        </div>
      </div>

      <div class="item">
        <img src="http://image.shutterstock.com/display_pic_with_logo/438058/318698951/stock-photo-new-york-city-may-ipad-iphone-and-earphones-dispayed-inside-apple-store-as-of-318698951.jpg" width="1200" height="400" alt="Image">
        <div class="carousel-caption">
          <h1>More Sell $</h1>
          <p><h3>Lorem ipsum...</h3></p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
  
<div class="container text-center">
  <h3>What We Do</h3><br>
  <p>Some text or description.</p>
  <div class="row">
    <div class="col-sm-4">
      <p>Textiles and more, imports or various</p>
      <img src="http://image.shutterstock.com/display_pic_with_logo/725719/725719,1302375389,2/stock-photo-elegance-tassels-display-on-luxury-armchair-74907967.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>Home or industry use items</p>
      <img src="http://image.shutterstock.com/display_pic_with_logo/54948/214068178/stock-photo-a-white-tea-set-on-a-rustic-whitewashed-setting-with-a-towel-hanging-on-the-wall-214068178.jpg" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4">
      <div class="well">
       <p>Some text.. </p>
      </div>
      <div class="well">
       <p>Some text..</p>
      </div>
    </div>
  </div>
</div><br>