footer {
    background-color: #fff;
    padding: 25px;
}

.btn {
    background-color: #000;
    color: #fff;
    border-radius: 0px;
}

a:visited {
    color: #3d3d29;
}

a:hover {
    color: #3366ff;
    text-decoration: none;
}
